<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <table>
            <thead>
                <tr>
                    <th>Nombre del visitante</th>
                    <th>Correo</th>
                    <th>Hora de entrada</th>
                    <th>Compañia que visita</th>
                    <th>Nombre anfitrión</th>
                </tr>
            </thead>
    
            <tbody id = "table-body-visitors">
            </tbody>
            </table>        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <script src="../js/firebase.js"></script>
    <script src="../js/dashboard.js"></script>
</body>
</html>