body {
	/* width: 100%;
	height: 100%; */
	background-color: #3A627D;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #fff;
	/* animation: movimiento 35s infinite linear alternate; */
	position: relative;
  }
  /* @keyframes movimiento {
	from {
	  background-position: bottom left;
	} to {
	  background-position: top right;
	}
  } */
  a {
	color: #fff;
	text-decoration: none;
  }
  h2 {
	font-weight: normal;
	margin-top: 3%;
  }
  img {
	margin-top: 5%;
  }
  h1 {
	font-weight: bold;
	letter-spacing: 5px;
  }
  #btnRegistro {
	font-family: 'Raleway', sans-serif;
	background: #000000c7;
	color: #fff;
	border: none;
	font-size: 25px;
	font-weight: normal;
	width: 300px;
	padding: 20px;
	margin-top: 5%;
  }
  
  #btnRegistro:hover {
	cursor: pointer;
	background: #0000007a;
  }  